@font-face {
	font-family: 'Poppins-Black';
	src: url('assets/desktop/fonts/poppins/Poppins-Black.ttf');
	font-display: swap;
}

@font-face {
	font-family: 'Poppins-BlackItalic';
	src: url('assets/desktop/fonts/poppins/Poppins-BlackItalic.ttf');
	font-display: swap;
}

@font-face {
	font-family: 'Poppins-Bold';
	src: url('assets/desktop/fonts/poppins/Poppins-Bold.ttf');
	font-display: swap;
}

@font-face {
	font-family: 'Poppins-BoldItalic';
	src: url('assets/desktop/fonts/poppins/Poppins-BoldItalic.ttf');
	font-display: swap;
}

@font-face {
	font-family: 'Poppins-ExtraBold';
	src: url('assets/desktop/fonts/poppins/Poppins-ExtraBold.ttf');
	font-display: swap;
}

@font-face {
	font-family: 'Poppins-ExtraBoldItalic';
	src: url('assets/desktop/fonts/poppins/Poppins-ExtraBoldItalic.ttf');
	font-display: swap;
}

@font-face {
	font-family: 'Poppins-ExtraLight';
	src: url('assets/desktop/fonts/poppins/Poppins-ExtraLight.ttf');
	font-display: swap;
}

@font-face {
	font-family: 'Poppins-Italic';
	src: url('assets/desktop/fonts/poppins/Poppins-ExtraLightItalic.ttf');
	font-display: swap;
}

@font-face {
	font-family: 'Poppins-Light';
	src: url('assets/desktop/fonts/poppins/Poppins-Light.ttf');
	font-display: swap;
}

@font-face {
	font-family: 'Poppins-LightItalic';
	src: url('assets/desktop/fonts/poppins/Poppins-LightItalic.ttf');
	font-display: swap;
}

@font-face {
	font-family: 'Poppins-Medium';
	src: url('assets/desktop/fonts/poppins/Poppins-Medium.ttf');
	font-display: swap;
}

@font-face {
	font-family: 'Poppins-MediumItalic';
	src: url('assets/desktop/fonts/poppins/Poppins-MediumItalic.ttf');
	font-display: swap;
}

@font-face {
	font-family: 'Poppins-Regular';
	src: url('assets/desktop/fonts/poppins/Poppins-Regular.ttf');
	font-display: swap;
}

@font-face {
	font-family: 'Poppins-SemiBold';
	src: url('assets/desktop/fonts/poppins/Poppins-SemiBold.ttf');
	font-display: swap;
}

@font-face {
	font-family: 'Poppins-SemiBoldItalic';
	src: url('assets/desktop/fonts/poppins/Poppins-SemiBoldItalic.ttf');
	font-display: swap;
}

@font-face {
	font-family: 'Poppins-Thin';
	src: url('assets/desktop/fonts/poppins/Poppins-Thin.ttf');
	font-display: swap;
}

@font-face {
	font-family: 'Poppins-ThinItalic';
	src: url('assets/desktop/fonts/poppins/Poppins-ThinItalic.ttf');
	font-display: swap;
}