.desktop {

	.loading {
		position: absolute;
		top: 0;
		left: 0;
		width: 100%;
		height: 100%;
		pointer-events: none;
		user-select: none;
	
		.progress_bar_container {
			position: fixed;
			top: 65%;
			left: calc(50% + 35%);
			transform: translate(-50%, -50%);
		}
	
		.progress_bar_bg {
			position: fixed;
			top: 65%;
			left: calc(50% + 35%);
			transform: translate(-50%, -50%);
			width: 18%;
			height: 32px;
			background-color: rgba(0, 0, 0, 0.5);
			border-radius: 30px;
			overflow: hidden;
	
			.progress_bar {
				width: 0;
				height: calc(100% - 8px);  // Reduces height by 8px as per your update
				background: linear-gradient(180deg, #66D449 0%, #379557 100%);
				// transition: width 0.1s ease-out;  // Smooth transition
				margin: 4px;  // Keeps the margin for additional spacing
				border-radius: 30px;
			}
		}
	
		.max_win {
			position: absolute;
			top: 62%;
			left: 35%;
			transform: translate(-50%, -50%);
			font-size: 54px;
			// color: #fff;
	
			color: #FFF;
			text-align: center;
			text-shadow: 0px 6px 8.8px #000;
			-webkit-text-stroke-width: 4px;
			-webkit-text-stroke-color: #379557;
			font-style: normal;
			line-height: normal;
			letter-spacing: -2px;
		}
	}

}



.mobile {
	.loading {
		position: absolute;
		top: 0;
		left: 0;
		width: 100%;
		height: 100%;
		pointer-events: none;
		user-select: none;
	
		.max_win {
			position: absolute;
			top: 61.5%;
			left: 50%;
			transform: translate(-50%, -50%);
			font-size: 32px;
			// color: #fff;
	
			color: #FFF;
			text-align: center;
			text-shadow: 0px 6px 8.8px #000;
			-webkit-text-stroke-width: 2px;
			-webkit-text-stroke-color: #379557;
			font-style: normal;
			line-height: normal;
			letter-spacing: -2px;
		}
	}

	
}